services:
  routelens:
    image: ghcr.io/yuanweize/routelens:latest
    container_name: routelens
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    volumes:
      - ./data:/data
    env_file:
      - .env
    restart: always

# Note: Using network_mode: host for accurate MTR/Ping TTL control
